@font-face {
    font-family: roboto;
    src: url(/Fuentes/Roboto/Roboto-Medium.ttf);
}
body{
    background-color: #857c7c ;
}

.centrado{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.Encabezado{
    border-radius: 5px;
    font-weight: bold;
    padding-top: 5px;
    background-color: #c0c0c0;
    width: 605px;
    height: 80px ;
    margin-bottom: 3px;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
}
.Izquierda{
    border-radius: 5px;
    padding-top: 5px;
    font-family: roboto;
    font-size: 18px;
    color: white;
    background-color: rgb(46, 46, 46);
    width: 300px;
    height: 200px;
    text-align: center;
}
.Derecha{
    border-radius: 5px;
    padding-top: 5px;
    font-family: roboto;
    font-size: 18px;
    color: white;
    background-color: #4f4f4f;
    width: 300px;
    margin-left: 5px;
    text-align: center;
}
.contenedor{
    display: inline-flex;
}
.Footer{
    border-radius: 5px;
    font-weight: bold;
    padding-top: 5px;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    background-color: #73fff8;
    width: 605px;
    height: 40px;
    margin-top: 3px;
}